 <TABLE  BORDER="5">
     <TR>
        <TH COLSPAN="6">
           <!-- <H3>queue</H3> -->
        </TH>
     </TR>
        <TH>Status</TH>
        <TH>Videoname</TH>
        <TH>User</TH>
        <TH>Submit Date</TH>
        <TH>Approval Date</TH>
        <TH>Employee ID</TH>

  <% videos.each do |video| %>
    <TR>
        <TD><%= video.state %></TD>
        <TD><%= video.title %></TD>
        <TD><%= video.customer.email %></TD>
        <TD><%= video.created_at %></TD>
        <TD><%= video.updated_at %></TD>
        <% if video.employee_id.blank?  %>
          <TD><button class="btn btn-success">Assign</button></TD>
        <% else %>
          <TD><%= video.employee && video.employee.email %></TD>
        <% end %>
        <!-- <TD><%#= video.employee && video.employee.email %></TD> -->
     </TR>
  <% end %>