 <TABLE  BORDER="5">
     <TR>
        <TH COLSPAN="6">
           <!-- <H3>queue</H3> -->
        </TH>
     </TR>
        <TH>Status</TH>
        <TH>Videoname</TH>
        <TH>User</TH>
        <TH>Submit Date</TH>
        <TH>Approval Date</TH>
        <TH>Employee ID</TH>

  <% videos.each do |video| %>
    <TR>
        <TD><%= video.state %></TD>
        <TD><%= video.title %></TD>
        <TD><%= video.customer.email %></TD>
        <TD><%= video.created_at %></TD>
        <TD><%= video.updated_at %></TD>
        <% if video.employee_id.blank?  %>
          <TD><button class="btn btn-success">Assign</button></TD>
        <% elsif video.employee_id != nil && video.state != "approved" %>
          <TD><div class="btn-group">
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><%= video.employee && video.employee.email %> <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Unassign</a></li>
                  <li class="dropdown-submenu">
                  <a href="#">Re-assign to:</a>
                  <ul class="dropdown-menu">
                  <% User.employee.each do |employee| %>
                    <li><a href="#"><%= employee.email %></a></li>
                  <% end %>
                </ul>
              </div><!-- /btn-group --></TD>
        <% elsif video.state == "approved" %>
          <TD><%= video.employee && video.employee.email %></TD>
        <% end %>
        <!-- <TD><%#= video.employee && video.employee.email %></TD> -->
     </TR>
  <% end %>