<h1>Update This Video</h1>

<%= form_for(@video) do |f| %>
    <%#= f.error_messages %>

    <p>
        <%= f.label :title, 'Update Title' %> <br/>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :youtube_url, 'Update Video Path' %> <br/>
        <%= f.text_field :youtube_url %>
    </p>

    <p>
      <% if current_user %>
        <% if current_user.employee? %>
        <ul class="inline">
        <h2>Change Job Status</h2>
           <li><%= f.radio_button(:state, 'submitted') %></li>
           <li><%= f.label(:state, "submitted") %></li>
           <li><%= f.radio_button(:state, "in-progress") %></li>
           <li><%= f.label(:state, "in-progress") %></li>
           <li><%= f.radio_button(:state, "ready for review") %></li>
           <li><%= f.label(:state, "ready for review") %></li>
           <li><%= f.radio_button(:state, "approved") %></li>
           <li><%= f.label(:state, "approved") %></li>
        </ul>
        <% end %>
      <% end %>
    </p>

    <p>
        <%= f.submit 'Update' %>
        <%#= f.submit 'Cancel' %>
    </p>

<% end %>