
  <% if current_user %>
    <% if current_user.customer? %>
    <h1>My SaberMe Videos</h1>
    <!-- <div class="btn-group">
      <button class="btn btn-large"><%= link_to "Submit Video", new_video_path %></button>
    </div> -->
    <ul>
        <% @videos.each do |video| %>
          <ul>
            <h3><b><%= link_to video.title, video_path(video) %></b></h3>
              <hr>
            <p>You Tube URL: <a href="<%= video.youtube_url %>"><%= video.youtube_url %></a><br/></p>
            <p>You Tube embed:<br/></p>
            <p><iframe width="640" height="400" src="http://www.youtube.com/embed/<%= video.embed_name %>" frameborder="0" allowfullscreen></iframe><br/></p>
            <div class="progress progress-success progress-striped span6">
              <div class="bar" style="width: <%= video.progress %>%"></div>
            </div><br/><br/>
            User: <%= video.customer_id %><br/>
            State: <%= video.state %><br/>
            <i>Update:
              <div class="btn-group">
                <button class="btn"><%= link_to "view", video_path(video.id) %></button>
                <button class="btn"><%= link_to "edit", edit_video_path(video) %></button>
                <button class="btn"><%= link_to "remove", video, :method => :delete, :confirm => "Delete the video'#{video.title}?" %></button>
              </div>
            </i>
            <hr>
           </ul>
        <% end %>
    </ul>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <% end %>
      <% if current_user.employee? %>
      <h1>Employee Staff Queue</h1>
    <%= render "queue", :videos => @unassigned_videos %>
      <h3>Roto Work Queue</h3>
    <%= render "queue", :videos => @assigned_videos %>
      <h3>My Work Queue</h3>
    <%= render "queue", :videos => @completed_videos %>
      <h3>Completed Jobs</h3>
    <% end %>

  <% else %>
    Welcome Screen
  <% end %>