<h1>My SaberMe Videos</h1
  <% if current_user %>
    <% if current_user.customer? %>

    <ul>
        <% @videos.each do |video| %>
          <li>
            <b><%= link_to video.title, video_path(video) %></b><br/>
            You Tube URL: <a href="<%= video.youtube_url %>"><%= video.youtube_url %></a><br/>
            You Tube embed:<br/>
            <iframe width="640" height="400" src="http://www.youtube.com/embed/<%= video.embed_name %>" frameborder="0" allowfullscreen></iframe><br/>

            User: <%= video.customer_id %><br/>
            State: <%= video.state %><br/>
            <i>Update:
              <%= link_to "edit", edit_video_path(video) %>
              <%= link_to "remove", video, :method => :delete, :confirm => "Delete the video'#{video.title}?" %>
            </i>
            <br/><br/><br/>
          </li>
        <% end %>
    </ul>

      <%#= @users.each do |user| %>
        <%#= Video.joins(:user) %>
      <%# end %>

    <%= link_to "Submit new SaberMe Video", new_video_path %><br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <% end %>
      <% if current_user.employee? %>
      <h1>Rotoscope Queue</h1>
    <%= render "queue", :videos => @unassigned_videos %>
      <h3>Roto Work Queue</h3>
    <%= render "queue", :videos => @assigned_videos %>
      <h3>My Work Queue</h3>
    <%= render "queue", :videos => @completed_videos %>
      <h3>Completed Jobs</h3>
    <% end %>
  <% end %>