<h1>Add a new video to SaberMe</h1>

<%= form_for(@video) do |f| %>
    <p>
      <%= f.label :title, 'SaberMe Title'%><br/>
      <%= f.text_field :title, class: "input-xlarge" %>
    </p>
    <p>
      <%= f.label :youtube_url, 'Youtube URL' %><br/>
      <%= f.text_field :youtube_url, class: "input-xlarge" %>
    </p>
    <p>
      <%#= f.label :customer_id, 'username' %><br/>
      <%#= f.text_field :user_id, :size => 60 %>
    </p>
    <p>
        <ul class="inline">
        <h2>Change Job Status</h2>
           <li><%= f.radio_button(:state, 'submitted') %></li>
           <li><%= f.label(:state, "submitted") %></li>
           <li><%= f.radio_button(:state, "in-progress") %></li>
           <li><%= f.label(:state, "in-progress") %></li>
           <li><%= f.radio_button(:state, "ready for review") %></li>
           <li><%= f.label(:state, "ready for review") %></li>
           <li><%= f.radio_button(:state, "approved") %></li>
           <li><%= f.label(:state, "approved") %></li>
        </ul>
    </p>

    <%= f.submit 'Submit' %>
    <%= link_to "Cancel", :back ? %>
<% end %>