<h2><%= @video.title %></h2>

<p><%= @video.youtube_url%></p>
<p>You Tube embed:<br/></p>
            <p><iframe width="640" height="400" src="http://www.youtube.com/embed/<%= @video.embed_name %>" frameborder="0" allowfullscreen></iframe><br/></p>
    <div class="progress progress-success progress-striped span6">
      <div class="bar" style="width: <%= @video.progress %>%"></div>
    </div><br/><br/>
<p><%= @video.customer_id%></p>
<p><%= @video.state %></p>
<%= link_to "See All Videos", videos_path %>