<!DOCTYPE html>
<html>
<!-- <p class="notice"><%#= notice %></p> -->
<p class="alert"><%= alert %></p>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saberme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="span9">

  <body data-spy="scroll" data-target=".bs-docs-sidebar">


 <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </button>
          <a class="brand" style="padding: 20px;" href="/"><strong>Saberme&nbsp&copy;&nbsp&nbsp</strong></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <% if user_signed_in? %>
                <a class="dropdown">
                  <a class="btn dropdown-toggle brand" style="padding-top: 14px; padding-bottom: 14px;" data-toggle="dropdown" href="#">
                    <%= current_user.email %>
                    <span class='caret'></span>
                    <%#= link_to raw("#{current_user.email}<span class='caret'></span>"), destroy_user_session_path, class: "btn", :method => :delete  %>
                    </a>
                    <ul class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
                      <!-- Login form here -->
                      <ul class="unstyled">
                        <li><%= link_to "Sign Out", destroy_user_session_path,class: "brand", :method => :delete  %></li>
                        <li><%= link_to "View User Account", edit_user_registration_path,class: "brand" %></li>
                      </ul>
                    </ul>
                  </a>
                </a>


              <li class="brand">
                <a href="#">Pricing</a>
              </li>
              <li class="brand">
                <a href="#">About</a>
              </li>
              <li class="brand">
                <a href="#">Work for Us</a>
              </li>
              <li class="brand">
                <a href="#">Contact Us</a>
              </li>


                <% if current_user.customer? %>

                  <%= link_to "Submit Video", new_video_path, class: "btn brand", style: "padding: 15px;" %>
                <% end %>
              <% else %>
                <%= link_to raw("Sign up"),new_user_registration_path, class: "btn brand", style: "padding: 16px;", method: :get %>
                <div class="offset1">
                <a class="dropdown">
                  <a class="btn dropdown-toggle brand" style="padding: 16px;" data-toggle="dropdown" href="#">
                  Sign In
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
                  <!-- Login form here -->
                  <%= render "devise/sessions/signupbar" %>
                      </ul>
                    </ul>
                </a>

<ul class="nav">
              <li class="brand">
                <a href="#">Pricing</a>
              </li>
              <li class="brand">
                <a href="#">About</a>
              </li>
              <li class="brand">
                <a href="#">Work for Us</a>
              </li>
              <li class="brand">
                <a href="#">Contact Us</a>
              </li>
                  </a>
                </div>
              <% end %>
                  </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Subhead
================================================== -->

<div id="container">
  <div id='user_nav'>
    <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </div>
</div>
<%= yield %>
  </div>
</div>
</body>
</html>
