<!DOCTYPE html>
<html>
<!-- <p class="notice"><%#= notice %></p> -->
<p class="alert"><%= alert %></p>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saberme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">


 <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </button>
          <%#= link_to raw("Saberme&nbsp&copy;"),videos_path, class: "brand", method: :get %>

          <a class="brand" href="">Saberme&nbsp&copy;</a>

          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="brand">
                <a href="./getting-started.html">Pricing</a>
              </li>
              <li class="brand">
                <a href="./scaffolding.html">About</a>
              </li>
              <li class="brand">
                <a href="./base-css.html">Work for Us</a>
              </li>
              <li class="brand">
                <a href="./base-css.html">Contact Us</a>
              </li>
              <% if user_signed_in? %>
                <a class="dropdown">
                <a class="btn dropdown-toggle brand" data-toggle="dropdown" href="#">
                <%= current_user.email %>
                <span class='caret'></span>
                <%#= link_to raw("#{current_user.email}<span class='caret'></span>"), destroy_user_session_path, class: "btn", :method => :delete  %>
                </a>
                <ul class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
                  <!-- Login form here -->
                  <ul class="unstyled">
                  <li><%= link_to "Sign Out", destroy_user_session_path,class: "brand", :method => :delete  %></li>
                  <li><%= link_to "User Account", edit_user_registration_path,class: "brand" %></li>
                  </ul>
                </a>

                <% if current_user.customer? %>
                  <%= link_to "Submit Video", new_video_path, class: "btn" %>
                <% end %>
              <% else %>
                <%= link_to raw("Sign up"),new_user_registration_path, class: "btn", method: :get %>
                <a class="dropdown">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Sign In
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
                  <!-- Login form here -->
                  <%= render "devise/sessions/signupbar" %>
                  </a>
              <% end %>
                  </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Subhead
================================================== -->

<div id="container">
  <div id='user_nav'>
    <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </div>
</div>
<%= yield %>

</body>
</html>
